@use '../custom' as *;

.offerings {
  font-family: 'Jost';
  &-img-card {
    position: relative;
    img {
      width: 350px;
      height: 300px;
      object-fit: cover;
      @include media-breakpoint-down(sm) {
        width: 300px;
      }
    }
    span {
      position: absolute;
      top: 150px;
      transform: translate(-50%, -50%);
      background-color: $white;
      width: 75px;
      height: 75px;
      font-size: 36px;
      text-align: center;
      line-height: 75px;
    }
  }
  &-text-card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include media-breakpoint-down(xl) {
      left: 50px;
    }
    @include media-breakpoint-down(lg) {
      text-align: center;
      left: 0;
    }
  }
  &-header {
    a {
      color: $text;
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: $primary;
      }
    }
  }
  &-text {
    a {
      color: rgba(128, 128, 128, 1);
      text-decoration: none;
      transition: 0.5s;
      &:hover {
        color: $primary;
      }
    }
  }
  &-img-card {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
}
