@use '../custom' as *;

.service-nav {
  position: relative;
  top: 175px;
  font-family: 'Jost';
  letter-spacing: 3.25px;
  margin-bottom: 3rem;
  width: fit-content;
  ul {
    list-style: none;
    text-align: center;
    z-index: 3;
    border-radius: 15px;
    background-color: $primary;
    height: 1.5rem;
    width: auto;
    @include media-breakpoint-down(sm){
      flex-direction: column;
      height: 7rem;
    }
    li {
      margin: 0 1.5rem;
      a {
        color: $text;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          color: $white;
        }
        @include media-breakpoint-down(lg) {
          font-size: 0.65rem;
        }
      }
    }
  }
}
